<h1 class="about-title">どんなサイト？</h1>

<h2 class="about-contents_title1">　Bargain Informationは</h2>
<h2 class="about-contents_title2">こんな問題を解決します！</h2>


<div class="about-contents_picture">
    <div><%= image_tag("about1.png", :width => '450', :height => '325', alt: "ロゴ") %></div>
    <div><%= image_tag("about2.png", :width => '450', :height => '325', alt: "ロゴ") %></div>
</div>